country,GEN;DE_DE,Deutsch (Deutschland)

;File Name System
;----------------
;Format: xx_yyyy.*
;
;xx:
;db   = Doppelte Buchhaltung
;dbe  = Doppelte Buchhaltung Euro
;dbf  = Doppelte Buchhaltung mit Fremdwährungen
;kb   = Kassenbuch
;kbe  = Kassenbuch Euro
;pr   = Prospekt


;Doppelte Buchhaltung ohne MwSt

;Doppelte Buchhaltung mit MwSt

;Doppelte Buchhaltung Euro ohne MwSt

;Doppelte Buchhaltung Euro mit MwSt

;Doppelte Buchhaltung mit Fremdwährungen und ohne MwSt

;Doppelte Buchhaltung mit Fremdwährungen und mit MwSt

;Prospekt
100,500,0,"Prospekt: Bilanz + Erfolgsrechnung (nur Gruppensummen/Deutschland)", pr_bilanz.ac2,DE_DE

;Archiv Wechselkurs

;Kassenbuch ohne MwSt

;Kassenbuch mit MwSt

;Kassenbuch Euro ohne MwSt

;Kassenbuch Euro mit MwSt

;Steuererklärung MwSt
